* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li a {
    text-decoration: none;

}

.hero {
    height: 100vh;
    width: 100vw;
    background: white;
}

.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    /* background-color: oldlace; */
}



.logo {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.logo::first-letter {
    font-size: 40px;
    border: 2px solid blue;
    border-right: transparent;
    padding-left: 5px;
    color: red;
}

.custom-nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

.custom-nav ul li a {
    color: black;
    position: relative;
    padding: 5px 0;
    font-weight: bold;

}

.custom-nav ul li a:hover {
    color: red;

}

.custom-nav ul li a::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background: red;
    transform: .3s;

}

.custom-nav ul li a:hover::after {
    width: 100%;
}

.btn {
    color: red;
    font-size: 16px;
    text-transform: uppercase;
    background: red;
    padding: 10px 30px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    border: 2px solid red;
}

.btn:hover {
    background: transparent;
    color: red;
}

.detail {
    position: absolute;
    top: 35%;
    left: 8%;
}

.detail h1 {
    color: black;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}

.detail h1 {
    color: blue;

}

.detail h1 span {
    color: red;
}

.detail p {
    color: black;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.image {
    width: 20%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 200px;
}

b {
    color: blue;
}

.row g-3 needs-validation {
    border-radius: 0%;
    border: 4px;
}

body {
    background-color: blue;
}